<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      
<head>
	<meta charset="UTF-8">
	<title>Taco-Cloud design page</title>
	<link rel="stylesheet" th:href="@{/styles.css}" /> 			<!-- link to style-sheet -->
</head>

<body>
	<h1>Design your taco!</h1>
	<img th:src="@{/images/TacoCloud.jpeg}"  width="600"/>
	
	<form method="POST" th:object="${design}">			<!-- refers to model.addAttribute("design", new Taco()); -->
	
	<span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Ingredient Error</span>
	
	
	
	
	<div class="grid">
		<div class="ingredient-group" id="wraps">
		<h3>Designate your wrap</h3>
		<div th:each="ingredient : ${wrap}">													<!-- th:each ... for each "ingredient" bound to "wrap" -->
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
			<span th:text="${ingredient.name}">INGREDIENT</span><br/>
		</div>
		</div>
		
		<div class="ingredient-group" id="cheese">
		<h3>Choose your cheese</h3>
		<div th:each="ingredient : ${cheese}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
			<span th:text="${ingredient.name}"></span><br/>
		</div>
		</div>
		
		<div class="ingredient-group" id="protein">
		<h3>Choose your meat</h3>
		<div th:each="ingredient: ${protein} ">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>    <!-- ERROR "proteiin" -->
			<span th:text="${ingredient.name}"></span><br/>
		</div>
		</div>
		
		<div class="ingredient-group" id="veggies">
		<h3>Determine you veggies:</h3>
		<div th:each="ingredient: ${veggies}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
			<span th:text="${ingredient.name}">INGREDIENT</span>
		</div>
		</div>
		
		<div class="ingredient-group" id="sauces">
		<h3>Select your saucee:</h3>
		<div th:each="ingredient : ${sauce}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
			<span th:text="${ingredient.name}">INGREDIENT</span>
		</div>
		</div>
	
	</div>
	
	<div>
	<h3>Name your taco creation:</h3>
	
	<input type="text" th:field="*{tacoName}"/>		<!-- th:field -> th:object -> taco object property tacoName -->
	
    <span th:text="${#fields.hasErrors('tacoName')}">XXX</span>
    <span class="validationError"
     	th:if="${#fields.hasErrors('tacoName')}"
      	th:errors="*{tacoName}">WWWTTTTFFFFFF</span>
	<br/>
	
	<button>Submit your taco</button>
	
	
	</div>
	</form>
</body>
</html>